<h1>
    Hi I am {{ title }}
</h1>
<hr>
<form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm.value)">
    
    <textarea name="description" cols="30" rows="5" ngModel required></textarea>

    <button type="submit" [disabled]="!commentForm.valid">Submit</button>
</form>
<hr>

<table>
    <thead>
        <th>ID</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let comment of commentList">
            <td>{{ comment.id }}</td>
            <td>{{ comment.description }}</td>
            <td><button type="button" (click)="onDelete(comment.id)">Delete</button></td>
        </tr>
    </tbody>
</table>